<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Ledgers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>

    <add name="dbDMSEntitieslocal" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=shahbazkhurram;Initial Catalog=dbDMSIntegrated;User ID=admin;Password=admin;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="dbDMSEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.10\SQLEXPRESS;Initial Catalog=dbDMSIntegrated;User ID=admin;Password=admin;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

  </connectionStrings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <applicationSettings>
    <Ledgers.Properties.Settings>
      <setting name="EmailKey" serializeAs="String">
        <value>gfHWCrd9irdeFdRJxxsQny8iuh4Wpd55MtcMviC01tk=</value>
      </setting>
      <setting name="DMSEmail" serializeAs="String">
        <value>documentmanagementsystem@hotmail.com</value>
      </setting>
      <setting name="SendEmails" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsDeployed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastAccessedFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="LogDirPath" serializeAs="String">
        <value>.\Logs</value>
      </setting>
      <setting name="PDFAnalyzerExePath" serializeAs="String">
        <value>.\PDF Analyzer\PDF Analyzer.exe</value>
      </setting>
      <setting name="MatchedFolderPath" serializeAs="String">
        <value>.\Matched PDF</value>
      </setting>
      <setting name="RpstFolderPath" serializeAs="String">
        <value>\\server01\repository$</value>
      </setting>
      <setting name="ClientListHiddenColumns" serializeAs="String">
        <value>National_Insurance,UTR</value>
      </setting>
    </Ledgers.Properties.Settings>
  </applicationSettings>
</configuration>
